@model LoginModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>LoginPage</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<style>
		.border {
			display: block;
			height: 250px;
			width: 300px;
			border: #000000 solid 15px;
			border-radius: 2px;			
		}
		.loginBlock {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-150px, -125px);
		}
	</style>
</head>
<body>

	
		<!-- Content here -->
		<div class="container-fluid loginBlock">
			<div class="m-1 p-1 border text-center">
				<div class="text-danger" asp-validation-summary="All"></div>

				<form asp-action="Login" asp-controller="Account" method="post">
					<input type="hidden" asp-for="ReturnUrl" />
					<div class="form-group">
						<label>Login</label>
						<div asp-validation-for="Name" class="text-danger"></div>
						<input asp-for="Name" class="form-control" />
					</div>
					<div class="form-group">
						<label>Password</label>
						<div asp-validation-for="Password" class="text-danger"></div>
						<input asp-for="Password" type="password" class="form-control" />
					</div>
					<button class="btn btn-primary" type="submit">Log In</button>
				</form>
			</div>
		</div>
	
</body>
</html>
